<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Níveis</title>
</head>
<body>
  <div>
      {% for nivel in niveis %}
            <li>{{ nivel.descricao }}</li>
            {% if nivel.indice != nivel_max %}
                <form method="POST" action="{% url 'sistema:modificar_indice' nivel.indice 1 %}">
                    {% csrf_token %}
                    <button type="submit">(+)</button>
                </form>
            {% endif %}
            {% if nivel.indice != 1 %}
                <form method="POST" action="{% url 'sistema:modificar_indice' nivel.indice -1 %}">
                    {% csrf_token %}
                    <button type="submit">(-)</button>
                </form>
                <form method="POST" action="{% url 'sistema:deletar_nivel' nivel.indice %}">
                    {% csrf_token %}
                    <button type="submit">(x)</button>
                </form>
            {% endif %}
      {% endfor %}
  </div>
  <div>
      <form action="{% url 'sistema:adicionar_nivel' %}" method="POST">
        {% csrf_token %}
        <label for="descricao">Nome:</label>
        <input type="text" name="descricao" id="descricao" required>

        <button type="submit">Adicionar Nível</button>
      </form>
  </div>
  <div>
      <a href="{% url 'sistema:index' %}" class="botao"><button type="button">Voltar</button></a>
  </div>
</body>
</html>