<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ Tarefa.titulo }}</title>
</head>
<body>
<div>
<form action="{% url 'sistema:editar_tarefa' tarefa.id %}" method="POST">
    {% csrf_token %}
    <label for="titulo">Nome:</label>
    <input type="text" name="titulo" id="titulo" value="{{ tarefa.titulo }}" required>

    <label for="descricao">Descrição:</label>
    <input type="text" name="descricao" id="descricao" value="{{ tarefa.descricao }}">

    <label for="data">Prazo:</label>
    <input type="date" name="data" id="data" value="{{ tarefa.data }}">

    <button type="submit">Salvar Edições</button>
  </form>
</div>
<div>
  <a href="{% url 'sistema:index' %}" class="botao"><button type="button">Voltar</button></a>
</div>
</div>
</body>
</html>